@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;800&family=Quicksand:wght@300;500;600&display=swap");
.profile-page-user-information {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.profile-page-user-information .about-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.profile-page-user-information .about-user .profile-picture {
  overflow: hidden;
}

.profile-page-user-information .about-user .profile-picture img {
  border-radius: 50%;
  padding: 5px;
  height: 100px;
  width: 100px;
}

.profile-page-user-information .about-user .profile-picture img.online {
  border: 2px solid green;
}

.profile-page-user-information .about-user .profile-picture img.idle {
  border: 2px solid #de9000;
  opacity: .85;
}

.profile-page-user-information .about-user .profile-picture img.invisible {
  border: 2px solid grey;
  opacity: .65;
}

.profile-page-user-information .about-user .username-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .3em;
}

.profile-page-user-information .about-user .username-container p:first-child {
  font-family: "Quicksand", sans-serif;
  letter-spacing: .05em;
  font-size: 1.25em;
  font-weight: 600;
}

.profile-page-user-information .about-user .username-container p:last-child {
  font-size: 1.15em;
  font-weight: 400;
  letter-spacing: .02em;
  opacity: .75;
}

.profile-page-user-information .about-user .profile-actions {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.profile-page-user-information .about-user .profile-actions .edit-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5em;
  background-color: #2489c0;
  color: white;
  font-weight: 400;
  font-size: .9em;
  padding: .5em 1em;
  letter-spacing: .02em;
  border-radius: 5px;
  margin-left: 5em;
}

.profile-page-user-information .about-user .profile-actions .edit-btn svg {
  font-size: 1.2em;
}

.profile-page-user-information .user-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 3em;
  margin-top: 1em;
}

.profile-page-user-information .user-content p {
  font-size: 1.1em;
  letter-spacing: .05em;
}

.profile-page-user-information .user-content p span {
  font-size: 1.15em;
  font-weight: 300;
  margin-right: .25em;
}
/*# sourceMappingURL=UserInformation.css.map */