@import "../../variables.scss";

.home {
  padding: 2em 0;
  max-width: 50em;
  margin: 0 auto;
  position: relative;
  .filter {
    // position: absolute;
    // top: 0;
    // left: 0;
    margin: .5em 0 1em 0;
  }
}