@import "../../variables.scss";

.navbar {
  background-color: $primary-color;
  padding: 0 1em;
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    margin: 0 auto;
    max-width: 1700px;
    li{
      font-weight: 600;
      color: white;
      font-size: 1.1em;
      letter-spacing: .02em;
      user-select: none;

      // &.logout-item{
      //   margin-left: auto;
      // }
      a, button {
        text-decoration: none;
        all: unset;
        padding: .9em;
        display: flex;
        cursor: pointer;
        transition: background 200ms ease;
        position: relative;

        &:not(.active):hover{
          background-color: rgba(255, 255, 255, 0.25);
        }
        &:not(.active):hover > .info {
          visibility: visible;
        }
        &.active {
          background-color: $secondary-color;
        }

        svg {
          font-size: 1.5em;
        }
        .info {
          
          position: absolute;
          visibility: hidden;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 130%);
          transition: visibility 10ms ease 250ms;
          background-color: rgba(255, 255, 255, 0.5);
          box-shadow: $shadow;
          color: black;
          font-size: .9em;
          font-weight: 300;
          text-align: center;
          padding: .3em .5em;
          border-radius: 5px;

          &:hover{
            display: none;
          }
        }
      }


      &:nth-child(3){
        margin-left: auto;
      }
      &.user {
        a {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: .5em;
          padding: .25em .5em;
          margin: .25em;
          border-radius: 25px;
          border: 2px solid $secondary-color;
        }
        img {
          height: 35px;
          width: 35px;
          border-radius: 50%;
        }
      }
    }
  }
}