@import "../../variables.scss";
.navbar-search-form {
    opacity: .7;
    &:hover {
        opacity: 1;
    }
    
    span {
        position: relative;

        input {
            outline: 2px solid rgba(255, 255, 255, 0.7);
            font-family: $secondary-font;
            font-size: .9em;
            padding: .25em 2em .25em 1em;
            min-width: 150px;
            letter-spacing: .025em;
            color: white;
            &::placeholder{
                color: white;
                opacity: .7;
                font-size: .9em;
            }

        }
        svg {
            position: absolute;
            right: 10px;
            top: 25%;
            transform: translateY(-25%);
            cursor: pointer;
        }
    }
}