@import "./variables.scss";


/* css reset */
*,*::before,*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  scroll-behavior: smooth;

}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

ol, ul {
	list-style: none;
  color: inherit;
}

img, picture {
  max-width: 100%;
  display: block;
}
// input,
// button,
// textarea,
// select {
//   font: inherit;
// }
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
// button {
//   background-color: transparent;
//   border-width: 0;
//   font-family: inherit;
//   font-size: inherit;
//   font-style: inherit;
//   font-weight: inherit;
//   line-height: inherit;
//   padding: 0;
//   color: inherit;
//   cursor: pointer;

//   &.submit-btn{
//     background-color: $secondary-color;
//     color: white;
//     font-weight: 600;
//     font-family: $primary-font;
//     letter-spacing: .05em;
//   }
// }
// button:disabled{
//   cursor: not-allowed;
//   opacity: .75;
// }

// input, textarea {
//   all: unset;
//   border: 1px solid $primary-color;
//   border-radius: 5px;
//   font-size: 1.1em;
//   font-weight: 300;
//   padding: .5em;
//   box-sizing: border-box;

//   &:focus{
//     border: 2px solid $primary-color;
    
//   }
// }
textarea {
  display: inline-block;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
body {
  margin: 0;
  font-family: $primary-font;
  background-color: $gray-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
