@import "../../variables.scss";

.create-post{
    border-radius: 25px;
    width: fit-content;
    margin: 1em auto;
    padding: 2em 5em;
    background-color: white;
    font-family: $primary-font;
    box-shadow: $shadow;
    max-width: 1100px;
    h3 {
        letter-spacing: .05em;
        font-size: 2em;
        color: $secondary-color;
        margin-bottom: .5em;
        svg {
            font-size: .9em;
        }
    }
    .description {
        margin-bottom: 3em;
        font-size: .85em;
        opacity: .8;
        letter-spacing: .02em;

    }
    form {
        display: flex;
        flex-direction: column;
        max-width: 800px;
        margin: 2em auto;
        span {
            font-weight: 500;
            margin-bottom: .2em;
            letter-spacing: .05em;
        }
        label {
            display: flex;
            flex-direction: column;
            text-align: left;
            margin-bottom: 2em;
            position: relative;
            .error {
                position: absolute;
                color: orangered;
                top: 0em;
                font-style: italic;
                right: .5em;
                opacity: .8;
            }
            input, textarea {
                width: 100%;
                letter-spacing: .02em;
            }
            textarea {
                height: 12em;
            }
        }
        .privacy {
            display: flex;
            flex-direction: row;
            height: fit-content;
            justify-content: center;
            align-items: center;
            margin: 0;
            gap: 1em;
            margin-bottom: 2em;
            position: relative;

            li{
                button{
                    margin: 0;
                    background-color: $gray-color;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: .25em .75em;
                    border: 2px solid transparent;
                    border-radius: 10px;
                    color: $secondary-color;
                    opacity: .75;
                    user-select: none;
                    transition: 150ms opacity ease, 150ms border ease,;
                    font-size: .9em;
                    svg{
                        font-size: 1em;
                        margin-right: .25em;
                    }
                    &.active {
                        background-color: $secondary-color;
                        border: 2px solid $primary-color;
                        color: white;
                        opacity: 1;
                    }
                    &:hover{
                        opacity: 1;
                        border: 2px solid $primary-color;
                    }
                }

                &:last-child{
                    margin-left: auto;
                    user-select: none;
                    label, div{
                        margin: 0;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        background-color: rgba(0, 0, 0, 0.1);
                        color: $primary-color;
                        padding: .25em 1em;
                        border-radius: 10px;
                        border: 2px solid transparent;
                        cursor: pointer;
                        transition: 150ms opacity ease, 150ms border ease,;

                        p{
                            font-size: .85em;
                        }
                        svg{
                            font-size: 2.5em;
                            margin-right: 0;
                        }
                        &:hover{
                            color: $secondary-color;
                            border: 2px solid $primary-color;

                        }
                        input {
                            display: none;

                        }
                    }
                    div{
                        pointer-events: none;
                    }  
                }
            }
            .privacy-info{
                position: absolute;
                top: 3.4em;
                left: .5em;
                width: 100%;
                font-size: .85em;
                font-weight: 300;
                color: $secondary-color;
                font-style: italic;
            }
        }
        .submit-btn, .cancel-btn {
            outline: none;
            border: none;
            margin-top: 3em;
            text-align: center;
            background-color: $secondary-color;
            color: white;
            padding: .75em 0;
            border-radius: 5px;
            opacity: .9;
            font-size: 1em;
            transition: 150ms opacity ease, 150ms border ease,;
            border: 2px solid transparent;
            &:disabled{
                opacity: .5;
                &:hover{
                    opacity: .5;
                    border: 2px solid transparent;
                }
            }
            &.cancel-btn {
                margin-top: 2em;
                background-color: $gray-color;
                color: $secondary-color;
                font-weight: 600;
                letter-spacing: .05em;
            }
            &:hover{
                opacity: 1;
                border: 2px solid $primary-color;
            }
        }
    }
}